.root {
  @apply p-4;
  background-color: black;
  min-height: calc(100vh - 51.97px);
}

.block{
  background-color: #111111;
  color:white;
  width: calc(100% - 2 * .75rem);
  margin: .75rem;
  @apply rounded-lg overflow-hidden;
}
.image_wrapper{
  @apply relative;
  padding-bottom: 56.25%;
}
@screen sm {
  .block {
    width: calc(50% - 2 * .75rem)
  }
}
@screen md {
  .block {
    width: calc(33.33333% - 2 * .75rem)
  }
}
@screen lg {
  .block {
    width: calc(25% - 2 * .75rem)
  }
}
@screen xl {
  .block {
    width: calc(20% - 2 * .75rem)
  }
}