.block{
  background-color: #111111;
  color:white;
  width: calc(100% - 2 * .75rem);
  margin: .75rem;
  @apply rounded-lg overflow-hidden;
}
.image_wrapper{
  @apply relative cursor-pointer;
  padding-bottom: 56.25%;
}
@screen sm {
  .block {
    width: calc(50% - 2 * .75rem)
  }
}
@screen md {
  .block {
    width: calc(33.33333% - 2 * .75rem)
  }
}
@screen lg {
  .block {
    width: calc(25% - 2 * .75rem)
  }
}
@screen xl {
  .block {
    width: calc(20% - 2 * .75rem)
  }
}

.des_text{
  @apply font-bold mr-1 text-gray-400;
}